
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  position: relative;
    min-height: 100%;
}
body {
  
  margin: 0 0 225px;
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 12px;
  color: white;
}

a {
  text-decoration: none;
  color: #eee;
  }

p {
  font-family: 'brandon-grotesque', sans-serif;
  }

ul {
  list-style: none; }


.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.center_text {
  text-align: center; }

.all_caps {
  text-transform: uppercase; }

.lower_case {
  text-transform: lowercase; }

.inline {
  display: inline;
}

.topborder {
  border-top: solid 1px #c3c2c2;
}

.pagewrap{

}

.shadow_top {
-webkit-box-shadow: 0px -7px 150px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px -7px 150px 0px rgba(50, 50, 50, 1);
box-shadow:         0px -7px 150px 0px rgba(50, 50, 50, 1);
}

.shadow_bottom {
-webkit-box-shadow: 0px 9px 18px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 9px 18px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 9px 18px 0px rgba(50, 50, 50, 1);
}

.shadow_inset {
-webkit-box-shadow: inset -4px 35px 38px -14px rgba(0,0,0,0.3);
-moz-box-shadow: inset -4px 35px 38px -14px rgba(0,0,0,0.3);
box-shadow: inset -4px 35px 38px -14px rgba(0,0,0,0.3);
}

.border_top {
  border-top: 3px solid #505050;
}

/* Nav Bar */

#navbarholder{
    width: 100%;
    background-image: url('images/texturetastic_gray.png');
}

#navbar {
    margin: 0 auto;
    width: 960px;
    height: 67px;
    font-family: 'adelle-sans', sans-serif;
    text-align: center;
    overflow: hidden;
    margin-bottom: -2px;
}

#navbar li {
    opacity: .9;
    color: #505050;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 5px;
    margin: 40px;
    position: relative;
    top: 35%;
    display: inline;
    transition: border-bottom .25s ease-in-out;
    -moz-transition: border-bottom .25s ease-in-out;
    -webkit-transition: border-bottom .25s ease-in-out;
}

#navbar li:hover {
  opacity: 1;
  border-bottom: 3px solid #505050;
}

#navbar li a:link {
  color: #505050;
}

#navbar li a:visited {
  color: #505050;
}

/* Social Buttons */

#twitter {
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('images/twitter_logo.png');
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#twitter:hover {
  opacity: .75;
}

#twittercontainer {
  padding-top: 15px;
  border-top: .1em solid #bebebe;
  float: left;
  width: 100%;
  height: 32px;
}

#twittercontainer p {
  padding-top: 7.5px;
  float: left;
  margin-left: 10px;
}

/* Header Top */

#topheaderholder {
    width: 100%;
    background-image: url('images/texturetastic_gray.png');
}

#topheader {
    margin: 0 auto;
    width: 960px;
    height: 214px;
}

#topheaderlogo {
    position: relative;
    width: 960px;
    height: 214px;
    background-image: url('images/topheader.png');
}

.logolink {
    width: 239px;
    height: 214px;
    display: block;
    margin: 0 auto;
}

#bottomheaderholder {
    background-color: #7da976;
    width: 100%;
}


/* Misc bars */

#bar {
    overflow: hidden;
    width: 100%;
    height: 13px;
    background-color: #dddddd;
}

#textbar
{
    width: 100%;   
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    border-top: solid 1px #c3c2c2;
    border-bottom: solid 1px #c3c2c2;
}

#big_message_holder {
    margin: 0 auto;
    width: 960px;
    height: 200px;
}

#bigmessage {
    position: absolute;
    width: 960px;
    height: 200px;
    display: table;
}

#bigmessage p {
    line-height: 24px;
    font-size: 28px;
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 300;
    color: #727272;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* End Misc Bars */

#maincontent_container {
  background-image: url('images/texturetastic_gray.png');
  width: 100%;
}

#content {
  text-align: center;
  background-image: url('images/texturetastic_gray.png');
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 960px;
  height: 520px;
}

#content_getting_involved {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 960px;
  min-height: 640px;
}

#contentlandingpage {
  width: 100%;
  min-height: 500px;
}

#contentmembers {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  min-height: 1285px;
}

#leftcontent {
  overflow: hidden;
  float: left;
  margin-top: 10px;
  height: 460px;
  width: 460px;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 12px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 12px 0px rgba(50, 50, 50, 0.75);
}


#rightcontent {
  overflow: hidden;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  height: 460px;
  width: 460px;
}

#rightcontent p {
  font-family: 'brandon-grotesque', sans-serif;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: .01em;
  color:  #505050;
  text-align: left;
  font-weight: 300;
}

#rightcontent h2 {
  margin-bottom: 10px;
  font-family: 'brandon-grotesque', sans-serif;
  text-transform: uppercase;
  letter-spacing: .075em;
  color: #505050;
  text-align: left;
  font-weight: 500;
}

.linkto {
  color: #505050;
  font-weight: 500;
}

a.linkto:hover {
  opacity: .75;
}

/* resources */

#maincontent_container_resources {
  background-image: url('images/texturetastic_gray.png');
  width: 100%;
}

#content_resources_page {
  background-image: url('images/texturetastic_gray.png');
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 600px;
}

#linkimage {
  width: 120px;
  height: 120px;
  background: white;
  float: left;
  margin: 10px;
  border-radius: 5%;
}

.linkcontainer {
  width: 380px;
  height: 120px;
}

.linkcontainer img {
  -webkit-box-shadow: 2px 2px 12px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 12px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 12px 0px rgba(50, 50, 50, 0.75);
  opacity: 1;
  transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in;
}

.linkcontainer img:hover {
  opacity: .5;
  transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
}

#resourcescontentleft {
  overflow: hidden;
  float: left;
  width: 460px;

}

#resourcescontentleft ul {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#resourcescontentleft li {
  display: block;
  float: left;
  margin: 20px;
}

#resourcescontentleft h2 {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 500;
  padding-top: 7px;
  color: #505050;
}

#resourcescontentleft h2:hover {
  opacity: .5;
}

#resourcescontentleft p {
  color: #505050;
  font-size: 15px;
  font-weight: 300;
}

/* end resources */


/* sticky footer */

/*
.site-footer, .page-wrap:after {
  height: 186px;
}

.site-footer {
  background: rgba(0,0,0,0.8);
}

*/

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
  height: 225px;
  width: 100%;
}

#footercontainer {
  overflow: hidden;
  padding-top: 60px;
  margin: 0 auto;
  height: auto;
  width: 690px;
}

#footercontainer p {
  text-align: center;
}

.copyright {
  color: #7da976;
  width: 100%;
  padding-top: 25px;
  text-align: center;
  letter-spacing: .06em;
  font-size: 12px;
  text-transform: uppercase;
  
}

/* bottom logos */

.gls {
  display: inline;
  background: url('images/footer_logo_sprite.png') no-repeat -10px -85px;
  width: 139px;
  height: 59px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.gls:hover {
  background: url('images/footer_logo_sprite.png') no-repeat -10px -12px;
  width: 139px;
  height: 59px;
  opacity: 1;
}

.lgn {
  display: inline;
  background: url('images/footer_logo_sprite.png') no-repeat -176px -90px;
  width: 90px;
  height: 51px;
  margin-left: 20px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.lgn:hover {
  background: url('images/footer_logo_sprite.png') no-repeat -176px -17px;
  width: 90px;
  height: 51px;
  opacity: 1;
}

.cpl {
  display: inline;
  background: url('images/footer_logo_sprite.png') no-repeat -299px -91px;
  width: 107px;
  height: 48px;
  margin-left: 20px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.cpl:hover {
  background: url('images/footer_logo_sprite.png') no-repeat -299px -20px;
  width: 107px;
  height: 48px;
  opacity: 1;
}

.nsf {
  display: inline;
  background: url('images/footer_logo_sprite.png') no-repeat -432px -79px;
  width: 67px;
  height: 66px;
  margin-left: 20px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.nsf:hover {
  background: url('images/footer_logo_sprite.png') no-repeat -432px -6px;
  width: 67px;
  height: 66px;
  opacity: 1;
}

.uw {
  display: inline;
  background: url('images/footer_logo_sprite.png') no-repeat -527px -83px;
  width: 206px;
  height: 59px;
  margin-left: 20px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.uw:hover {
  background: url('images/footer_logo_sprite.png') no-repeat -527px -10px;
  width: 206px;
  height: 59px;
  opacity: 1;
}

/* member profiles */

.membercontainer {
  margin-top: 20px;
  width: 230px;
  height: 230px;
  margin-left: 10px;
  float: left;
  transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in;
  overflow: visible;
  opacity: 1;
  
  
}

.membercontainer:hover {
  transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  opacity: .5;
}

.membercontainer img {
  width: 230px;
  height: 230px;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    2px 2px 12px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         2px 2px 12px 0px rgba(50, 50, 50, 0.5);
}

/*

.membercontainer:hover > .memberinfo h2 {
  transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in;
  opacity: 1;
}

.membercontainer:hover > .memberinfo p {
  transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in;
  opacity: 1;
}

.membercontainer:hover > .memberinfo {
  visibility: visible;
}


.memberinfo {
  padding: 50px;
  width: 230px;
  height: 228px;
  position: absolute;
  margin-top: -230px;
  opacity: .9;
  background-color: #6ca0b8;
  visibility: hidden;
  z-index: 100;
  overflow: hidden;
  border-radius: 48%;
}

.memberinfo h2 {
  text-align: center;
  opacity: .2;
  font-style: italic;
  font-family: 'adelle-sans', sans-serif;
  color: #f7f7f7;
}

.memberinfo p {
  text-align: center;
  opacity: .2;
  color: #f7f7f7;
  font-family: 'adelle-sans', sans-serif;
}

*/


/* landing page image slider */

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }
.banner img {
  width: 100%;
  height: 500px;
}

.dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    text-align: center;
    list-style-type: decimal;
}

.dots li {
  text-indent: -999em;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #7da976;
  opacity: 1;
}

.slider p {
  position: relative;
  top: 50%;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
}

.slider.slide_one {
  margin-left: auto;
  margin-right: auto;
  background-image: url('images/screenshot1_slider.png');
  width: 100%;
  height: 500px;
  opacity: .85;
  -webkit-transition: opacity .45s linear;
  -moz-transition: opacity .45s linear;
  transition: opacity .45s linear;
}

.slider.slide_one:hover {
  opacity: 1;
  -webkit-transition: opacity .45s linear;
  -moz-transition: opacity .45s linear;
  transition: opacity .45s linear;
}

.slider.slide_two {
  background-image: url('images/test_slider_image3.jpg');
  width: 100%;
  height: 500px;
}

.slider.slide_three {
  background-image: url('images/test_slider_image2.jpg');
  width: 100%;
  height: 500px;
}

/* Mobile */

@media only screen and (max-device-width: 480px) {

footer {
position: relative;
background: #2a2a2a;
}

html {
background: #2a2a2a;
}

#navbar li {
  font-size: 16px;
}

.slider p {
  font-size: 18px;
}


	}

